body {
	font-family: sans-serif;	
}

.NameSur {

    font-weight: bold;
font-size: 24px;	
}

.col-lg-4 {
	border-right: 1px solid #e8e8e8;
}

.row {
	border: 1px solid #e8e8e8;

	margin: 45px 0px 0px 0px;
}

.Nameblock {
	border-bottom: 1px solid #e8e8e8;
	padding: 15px 0px;
}

.Contact {
	
	
}

#Email, #Phone {
	padding-top: 25px;
	
}

 #Phone {
	padding-bottom: 25px;
	
}

.navmenu {
	border-bottom: 1px solid #e8e8e8;
	padding: 15px 0px;
}
.navmenu a {
	  text-decoration: none;
	  color: #000;
	  padding: 5px 20px;

}

.navmenutittle {
	border-bottom: 1px solid #e8e8e8;
	
	  color: #000;
	  padding: 0px 20px;
	  font-size: 30px;
	  font-weight: bold;
	  padding: 15px 20px;
}

.active {
	border-bottom: 4px solid #21c87a;
	
}


.recordsp, .otherp {
	display: none;
}
	.morep, .recordsp, .otherp {
	padding: 15px 20px;
	}
	
	@media only screen and (max-width: 993px) {
	img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
	    height: auto;
}
	
	.col-xs-2 {
		border-bottom: 1px solid #e8e8e8;
	}
	
	.navmenutittle {
		display: none;
	}
	
	.active {
    border-bottom: 0px solid #21c87a;
	color: #21c87a!important;
	}
	}
	